{% extends 'student/base_others.html' %}
{% block body_block %}

    <section  style="background: #eeeeee;">
        <div class="container">
            <div class="row" style="margin:0px;">
                <div class=" col-lg-12 text-center">
                    <h2 class="title" style="text-align:center;">Answering A Few FAQ</h2></br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">What is Digital Student Requisition System?</h4>
                        </div>
                        <div class="card-body">
                            <p>The Digital Student Requisition System is an automated way to apply for student requisitions and collect them at the office after completion without having to do the tedious manual task of approaching every faculty and submitting it to the respective department </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Why use this system?</h4>
                        </div>
                        <div class="card-body">
                            <p>Completely Online! Saves Paper Work and time. Gives real time status of the requisition application. Efficient! We can even apply for requisition even on a holiday! This system is qually important for the digitizing world of today! Can be integrated into a wider system of the college<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">What are the advantages of this System?</h4>    <!-- TODO Complete the data entry -->
                        </div>
                        <div class="card-body">
                            <p>It saves a significant amount of time for both students, teachers and different sections. Students need not wait for different teachers to approve their requests, and teachers can relax when having a busy schedule.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Is this system suitable for implementation?</h4>
                        </div>
                        <div class="card-body">
                            <p>Ofcourse Yes! we have carefully crafted this system for the purpose of implementation at college level! We have built a error free system for successful implementation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}