{% extends 'student/base_others.html' %}
{% load static %}
{% block body_block %}

    <section  style="background: #eeeeee;">
        <div class="container">
            <div class="row" style="margin:0px;">
                <div class=" col-lg-12 text-center">
                    <h2 class="title" style="text-align:center;">Our Creative Team!</h2><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card text-center" style="padding: 10px;margin: 2px">
                        <div style="border-radius: 50%; padding: 0px; padding:10px; margin: auto;">
                            <img src="{% static 'student/images/' %}" class="pic img-raised img-circle" alt="" style="width:150px;height: 150px;border-radius:50%;top:50%;border-bottom: 2px solid black;border-right: 1px solid black;">
                        </div>

                        <h5 style="margin: 0px;color: blue;"><b>GIVEN BARIACTO</b></h5><hr style="color: black;">
                        <p> <b>1BM16CS104<br>
                            given@gmail.com<br>
                            9482481106<br></b></p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center" style="padding: 10px;margin: 2px">
                        <div style="border-radius: 50%;padding: 0px;padding:10px;margin: auto;">
                            <img src="{% static 'student/images/' %}" class="pic img-raised img-circle" alt="" style="width:150px;height: 150px;border-radius:50%;border-bottom: 2px solid black;border-right: 1px solid black;">
                        </div>

                        <h5 style="margin: 0px;color: blue;"><b>RYAN CHRISTIAN MANAAY</b></h5><hr style="color: black;">
                        <p> <b>1BM16CS109<br>
                            ryanchristian@gmail.com<br>
                            09123455668<br></b></p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center" style="padding: 10px;margin: 2px">
                        <div style="border-radius: 50%;padding: 0px;padding:10px;margin: auto;">
                            <img src="{% static 'student/images/' %}" class="pic img-raised img-circle" alt="" style="width:150px;height: 150px;border-radius:50%;border-bottom: 2px solid black;border-right: 1px solid black;">
                        </div>

                        <h5 style="margin: 0px;color: blue;"><b>DANIEL BANDIOLA</b></h5><hr style="color: black;">
                        <p> <b>1BM16CS115<br>
                            daniel@gmail.com<br>
                            0912345872<br></b></p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center" style="padding: 10px;margin: 2px">
                        <div style="border-radius: 50%;padding: 0px;padding:10px;margin: auto;">
                            <img src="{% static 'student/images/' %}" class="pic img-raised img-circle" alt="" style="width:150px;height: 150px;border-radius:50%;border-bottom: 2px solid black;border-right: 1px solid black;">
                        </div>

                        <h5 style="margin: 0px;color: blue;"><b>CARLAN PELLOBELLO</b></h5><hr style="color: black;">
                        <p> <b>1BM16CS123<br>
                            carlan@gmail.com<br>
                            09740858529<br></b></p>

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}