{% extends 'student/base_others.html' %}
{% block body_block %}
    <section  style="background: #eeeeee;">   <!-- TODO Complete the data -->
        <div class="container">
            <div class="row" style="margin:0px;">
                <div class=" col-lg-12 text-center">
                    <h2 class="title" style="text-align:center;">Introducing the Departments...</h2><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-success">
                            <h4 class="card-title text-center">Admission Department</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Cancellation of Admission</li>
                                <li>Public Scholarships</li>
                                <li>Private Scholarship</li>
                                <li>TC Issue</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-success">
                            <h4 class="card-title text-center">Examination Section</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Study Certificate</li>
                                <li>Bonafide Certificate</li>
                                <li>Eligibility</li>
                                <li>Course Completion Certificate</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>


                <div class="col-md-2">
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-success">
                            <h4 class="card-title text-center">Accounts Section</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Fee Remittance</li>
                                <li>Scholarship Claims</li>
                                <li>Expenditure Certificate</li>
                                <li>Duplicate fee Receipt</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-success">
                            <h4 class="card-title text-center">Controller of Examinations</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Revaluation Refunding</li>
                                <li>Examination Timetable</li>
                                <li>Challenge Revaluation</li>
                                <li>Other Enquiry</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



{% endblock %}